html {
	height: 100vh;
}

body{
	font-family: Merriweather Sans, sans-serif;
	background-image: url('https://thebupkis.files.wordpress.com/2013/03/pc099932a.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: top center;
	background-attachment: fixed;
	background-filter: blur(20px);
	margin: 0px 0px 0px 0px;
}

div {
	/* Styled text to be center to page within divs */
	text-align: center;
}

ul {
	list-style: none;
	position: inline;
}

.white{
	background-color: #FFFFFF;
}

.off-white{
	background-color: #A9A9A9;
	color: #dcdcdc;
}

.slate{
	background-color: #2D2D2D;
}

.spacer{
	height: 250px;
	width: auto;
	margin-right: 0;
	margin-left: 0;
}

.buffer{
	margin-top: 2%;
	margin-bottom: 2%;
}

.greeting h1 {
	padding-top: 5%;
	font-size: 200px;
	margin: 0;
}

.banner {
	/* added padding to beef up banner */
	/* padding: 200px;
	margin: 0px 0px 0px 0px; */
	height: 500px;
	width: 100%;
}

#myName {
	/* font-family: Verdana;
	background-color:#999;
	font-size: 30px; */
}

.popup-interact {
	display: inline-block;
	text-align: center;
	line-height: 100px;
	opacity: 0.5;
}

#escape1{
	width: 0;
	height: 0;
	z-index: 1;
}

.inside{
	margin: 27%;
}

#myGreet {
	top: 0;
	left: 0;
}

#myPortfolio{
	top: 0;
	right: 0;
}

.sidenav {
	/* Want full height */
	height: 100%; 
	width: 0; /*JS will change height*/
	position: fixed;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 200px;
	opacity: 0.9;
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav*/
}
.sidenav div{
	display: inline-block;
	width: 85%;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: #111;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
	color: #666;
}

.closebtn {
	position:absolute;
	top: 0;
	right: 25px;
	font-size: 36px !important;
	margin-left: 50px;
}

div#main div.row div{
	display: inline-block;
}